The application description has the purpose of presenting the application, e.g., on an application catalog or marketplace from where an end user selects an application to be installed. The end user defines an `ApplicationDeployment` by specifying [configuration parameters](#defining-configurable-application-parameters) for an `ApplicationDescription`. An `ApplicationDeployment` defines the [desired state](../margo-management-interface/desired-state.md) for an application.

### Top-level Attributes

{% macro abort(error) %}
    {{ None['[ERROR] ' ~ error][0] }}
{% endmacro %}

{%- macro format_range(slot) -%}
    {%- if slot.multivalued -%}
        {%- if slot.inlined -%}
            {%- if slot.inlined_as_list -%}
                []{{ slot.range }}
            {%- else -%}
                {%- if slot.name == "properties" -%}
                    map[string][string]
                {%- else -%}
                    map[string][{{ slot.range }}]
                {%- endif -%}
            {%- endif -%}
        {%- else -%}
            []string
        {%- endif -%}
    {%- else -%}
        {{ slot.range }}
    {%- endif -%}
{%- endmacro -%}

| Attribute | Type | Required? | Description |
| --- | --- | --- | --- |
{% for slot in schemaview.class_slots("ApplicationDescription")|sort(attribute='rank') -%}
| {{ slot }} | {{ format_range(schemaview.get_slot(slot)) }} | {% if schemaview.get_slot(slot).required == True %} Y {% else %} N {% endif %} | {{ schemaview.get_slot(slot).description }}|
{% endfor -%}

{% for c in gen.all_class_objects()|sort(attribute='rank') %}
{%- if c.name != "ApplicationDescription" and not c.name.startswith("ComponentProperties") and not c.name.startswith("Helm") and not c.name.startswith("Compose") %}

{# if c is a subclass of any: #}

{%- if c.is_a -%} 
* #### {{ c.name }} Attributes  <br>
(Subclass of {{ c.is_a }})  <br>
{%- else -%}
### {{ c.name }} Attributes  <br>
{%- endif %} 

{%- if c.description -%} 
<br>
{{ c.description }} <br>
{%- endif %} 

| Attribute | Type | Required? | Description |
| --- | --- | --- | --- |
{% for slot in gen.get_direct_slots(c)|sort(attribute='rank') -%}
{%- if slot.name != "value" -%}
| {{ slot.name }} | {{ format_range(slot) }} | {% if slot.required == True %} Y {% else %} N {% endif %} | {{ slot.description }}|
{%- else -%}
| {{ slot.name }} | <*see description*> | {% if slot.required == True %} Y {% else %} N {% endif %} | {{ slot.description }}|
{%- endif %}
{% endfor %}

{%- endif %}




{%- if c.name.startswith("ComponentProperties") %}

### ComponentProperties Attributes
The expected properties for the suppported deployment types are indicated below.

- Properties for `helm.v3` components

| Attribute      | Type  | Required?     | Description    |
| --- | --- | --- | --- |
| repository     | string |  Y  | The URL indicating the helm chart's location.|
| revision      | string |  Y  | The helm chart's full version.|
| wait | bool  | N  | If `True`, indicates the device MUST wait until the helm chart has finished installing before installing the next helm chart. The default is `True`. The Workload Fleet Management Client MUST support `True` and MAY support `False`. Only applies if multiple `helm.v3` components are provided.|
| timeout | string      | N   | The time to wait for the component's installation to complete. If the installation does not completed before the timeout occurs the installation process fails. The format is "##m##s" indicating the total number of minutes and seconds to wait. |  

- Properties for `compose` components

> **Investigation Needed**: We need to have more discussion about how Compose should be handled and what is required here.

| Attribute      | Type  | Required?     | Description    |
| --- | --- | --- | --- |
| packageLocation  | string |  Y  | The URL indicating the Compose package's location. |
| keyLocation    | string | N  | The public key used to validated the digitally signed package. It is highly recommend to digitally sign the package. When signing the package PGP MUST be used.|
| wait | bool  | N  | If `True`, indicates the device MUST wait until the Compose file has finished starting up before starting the next Compose file. The default is `True`. The Workload Fleet Management Client MUST support `True` and MAY support `False`. Only applies if multiple `compose` components are provided.|
| timeout | string      | N   | The time to wait for the component's installation to complete. If the installation does not completed before the timeout occurs the installation process fails. The format is "##m##s" indicating the total number of minutes and seconds to wait.|

## Defining configurable application parameters

To allow customizable configuration values when installing an application, the *application description*  defines the parameters and configuration sections giving the application vendor control over what can be configured when installing, or updating, an application. The [configuration](#configuration-attributes) section describes how the workload orchestration software vendor must display parameters to the user to allow them to specify the values. The [schema](#schema-attributes) section describes how the workload orchestration software vendor must validate the values provided by the user before the application is installed or updated.

> **Note:** At this point the specification only deals with parameter values provided by the user as part of installing, or updating, the application. We anticipate parameter values to come from other sources, such as the device, in the future and not only from the user.

{%- endif %}
{%- endfor %}


## Enumerations
These enumerations are used as vocabularies for attribute values of the `ApplicationDescription`.

### CpuArchitectureType

| Permissible Values | Description |
| --- | --- |
| amd64 | AMD 64-bit architecture.|
| x86_64 | x86 64-bit architecture.|
| arm64 | ARM 64-bit architecture.|
| arm | ARM 32-bit architecture. |  

### CommunicationInterfaceType

| Permissible Values | Description |
| --- | --- |
| ethernet | This type stands for an Ethernet interface.|
| wifi | This type stands for an WiFi interface.|
| cellular | This type stands for cellular communication technologies such as 5G, LTE, 3G, 2G, ....|
| bluetooth | This type stands for a Bluetooth or Bluetooth Low-Energy (BLE) interface. |  
| usb | This type stands for a USB interface.|
| canbus | This type stands for a CANBus interface.|
| rs232 | This type stands for a RS232 interface. |  

### PeripheralType

| Permissible Values | Description |
| --- | --- |
| gpu | This type stands for a Graphics Processing Unit (GPU) peripheral.|
| display | This type stands for a display peripheral.|
| camera | This type stands for a camera peripheral.|
| microphone | This type stands for a microphone peripheral. |
| speaker | This type stands for a speaker peripheral. |



## Application Description Examples

### Example 1: Simple Application Description
A simple hello-world example of an `ApplicationDescription` is shown below:

```yaml
{% include 'examples/valid/ApplicationDescription-001.yaml' %}
```

### Example 2: Application Description with Deployment Profiles for Helm and Compose
An example of an `ApplicationDescription` defining [deployment profiles](#deploymentprofile-attributes) for both cases, Helm chart as well as Compose, is shown below.

```yaml
{% include 'examples/valid/ApplicationDescription-002.yaml' %}
```