openapi: 3.1.0
info:
  title: Margo Workload Management API
  version: 1.0.0-rc.2
  description: >
    API for managing workloads on Margo-conformant edge devices.
    Includes the APIs for exchanging desired state and current state.
    Communication is secured with mutual TLS, defaulting to TLS 1.3 per the MIAF
    TLS requirements: the WFM Client
    and the WFM each present an X.509-SVID, validated against the Trust Domain's
    Trust Bundle per the Margo Identity and Authorization Framework (MIAF) and
    the WFM Identity Profile. The caller identity for every request is the
    authenticated WFM Client SPIFFE ID. Trust anchors are distributed via the
    MIAF Trust Bundle.

servers:
  - url: https://wfm.margo.org
    description: Workload Fleet Manager APIs

security:
  - mTLS: []

paths:
paths:
  /api/v1/capabilities/{deviceId}:
    put:
      summary: Report or update device capabilities
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/DeviceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceCapabilitiesManifest"
      responses:
        "200":
          description: Device capabilities updated successfully
        "201":
          description: Device capabilities created successfully
        "400":
          description: Malformed request body.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: The request is not authorized by the WFM's local policy (for example, the client relationship has been retired).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: No gateway was found for the given child-device deviceId.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "422":
          description: Request body includes a semantic error.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
    delete:
      summary: Remove device (Unregister)
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/DeviceId"
      responses:
        "204":
          description: Device capabilities removed successfully
        "403":
          description: The request is not authorized by the WFM's local policy (for example, the client relationship has been retired).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: No device with the given deviceId was found for the client.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
  /api/v1/bundles/{digest}:
    get:
      summary: Retrieve a deployment bundle by its content digest
      parameters:
        - name: digest
          in: path
          required: true
          schema:
            type: string
          description: Content-addressable digest of the bundle archive. MUST conform to the 'digest' attribute in the Digest Specification and MUST equal the digest computed over the exact sequence of bytes (per Exact Bytes Rule) in the HTTP 200 OK response body. If the server cannot produce content whose digest matches this value it MUST return 404 Not Found.
        - in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          description: Quoted ETag (same as digest) previously returned for this bundle.
      responses:
        "200":
          description: Bundle archive (immutable)
          headers:
            ETag:
              schema:
                type: string
              description: Quoted digest of the returned bundle archive
            Cache-Control:
              schema:
                type: string
              description: private, max-age=31536000, immutable
          content:
            application/vnd.margo.bundle.v1+tar+gzip:
              schema:
                type: string
                format: binary
                description: Gzip-compressed tar containing one YAML file per deployment.
        "304":
          description: Representation not modified
        "403":
          description: The request is not authorized by the WFM's local policy (for example, the client relationship has been retired).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Bundle not found for the given digest
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /api/v1/deployments:
    get:
      summary: Retrieve the complete desired state for all workloads assigned to a device
      parameters:
        - name: If-None-Match
          in: header
          required: false
          schema:
            type: string
          description: >
            ETag value of the last successfully synced manifest. The ETag is returned to the client from the /deployments endpoint, it is the digest of the state manifest.
        - name: Accept
          in: header
          required: false
          schema:
            type: string
          description: >
            Indicates which manifest formats the client supports.
            Supported values: application/vnd.margo.manifest.v1+json.
      responses:
        "200":
          description: Manifest returned in the negotiated format
          headers:
            Content-Type:
              schema:
                type: string
              description: Format of the returned manifest
            ETag:
              schema:
                type: string
              description: New ETag for the returned manifest
            Cache-Control:
              schema:
                type: string
              description: private
          content:
            application/vnd.margo.manifest.v1+json:
              schema:
                $ref: "#/components/schemas/UnsignedAppStateManifest"
        "304":
          description: Not Modified - Manifest has not changed
        "403":
          description: The request is not authorized by the WFM's local policy (for example, the client relationship has been retired).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "406":
          description: Not Acceptable - Server cannot generate a response matching the Accept header
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /api/v1/deployments/{deploymentId}/{digest}:
    get:
      summary: Retrieve an individual ApplicationDeployment YAML file
      description: >
        This endpoint is used by the client to fetch the YAML for a single ApplicationDeployment after it has processed a new State Manifest and identified a small number of new or updated deployments. This allows for highly efficient, incremental updates without needing to download the full bundle.
        To make individual workload retrievals race-free and cache-friendly, this endpoint is content-addressable: the digest of the expected YAML is part of the URL. This guarantees immutability of the fetched resource and prevents a time-of-check / time-of-use race where a deployment changes between manifest retrieval and content fetch.
      parameters:
        - name: deploymentId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the application deployment
        - name: digest
          in: path
          required: true
          schema:
            type: string
          description: >
            Content-addressable digest of the ApplicationDeployment YAML file. MUST conform to the Digest Specification and MUST equal the digest computed over the exact sequence of bytes (per Exact Bytes Rule) in the HTTP 200 OK response body. If the server cannot produce content whose digest matches this value it MUST return 404 Not Found.
        - name: If-None-Match
          in: header
          required: false
          schema:
            type: string
          description: >
            Optional ETag for caching. The ETag is returned to the client from the /deployments endpoint, it is the digest of the state manifest.
        - name: Accept-Encoding
          in: header
          required: false
          schema:
            type: string
          description: Indicates supported compression formats (e.g., gzip, br)
      responses:
        "200":
          description: >
            The response body is the raw ApplicationDeployment YAML file (Content-Type: application/yaml). The content MUST match the {digest} path segment; the server MUST return 404 if it does not have the exact digest referenced.
          headers:
            Content-Type:
              schema:
                type: string
              description: application/yaml
            ETag:
              schema:
                type: string
              description: >
                The ETag is returned to the client from the /deployments endpoint, it is the digest of the state manifest.
            Cache-Control:
              schema:
                type: string
              description: private, max-age=31536000, immutable
            Vary:
              schema:
                type: string
              description: Accept-Encoding
          content:
            application/yaml:
              schema:
                type: string
                description: Raw YAML content of the ApplicationDeployment
        "403":
          description: The request is not authorized by the WFM's local policy (for example, the client relationship has been retired).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Deployment not found for the given digest
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /api/v1/deployments/{deploymentId}/status:
    post:
      summary: Report deployment status
      parameters:
        - name: deploymentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentStatusManifest"
      responses:
        "200":
          description: The deployment status was updated successfully.
        "201":
          description: The deployment status was created successfully.
        "400":
          description: Malformed request body.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: The request is not authorized by the WFM's local policy (for example, the client relationship has been retired).
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "422":
          description: Request body includes a semantic error.
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

components:
  securitySchemes:
    mTLS:
      type: mutualTLS
      description: >
        Mutual TLS, defaulting to TLS 1.3 (TLS 1.2 permitted only as a
        non-default fallback). The WFM Client and the WFM each
        present an X.509-SVID, validated against the Trust Domain's Trust
        Bundle per the Margo Identity and Authorization Framework (MIAF)
        and the WFM Identity Profile.

  # Modifications compared to pre-data-model stage:
  # - ManifestVersion INLINED into UnsignedAppStateManifest(OpenAPI)/DesiredStateManifest(LinkML)
  # - appDeploymentParams INLINED into appDeploymentSpec(OpenAPI)/Spec(LinkML)
  schemas:
    Component:
      type: object
      additionalProperties: true
      description: A class representing a component of a deployment profile.
      properties:
        name:
          type: string
          description: A unique name used to identify the component package. For helm
            installations the name will be used as the chart name. The name must be lower
            case letters and numbers and MAY contain dashes.  Uppercase letters, underscores
            and periods MUST NOT be used.
        properties:
          $ref: '#/components/schemas/ComponentProperties'
          description: A dictionary element specifying the component packages's deployment
            details.  See the [Component Properties](#componentproperties-attributes)
            section below.
      required:
      - name
      - properties
    ComponentProperties:
      type: object
      additionalProperties: true
      description: Properties dictionary for component deployment details.
      properties:
        repository:
          type: string
          description: Repository location for the component.
        revision:
          type: string
          description: Revision version for the component.
        wait:
          type: boolean
          description: If True, indicates the device waits for the component installation
            to complete.
        timeout:
          type: string
          description: Time to wait for component installation to complete, formatted
            as "##m##s".
        packageLocation:
          type: string
          description: URL indicating the Compose package's location.
        keyLocation:
          type: string
          description: URL for the public key used to validate a digitally signed package.
    helmApplicationDeploymentProfileComponent:
      type: object
      additionalProperties: true
      description: ''
      properties:
        name:
          type: string
          description: A unique name used to identify the component package. For helm
            installations the name will be used as the chart name. The name must be lower
            case letters and numbers and MAY contain dashes.  Uppercase letters, underscores
            and periods MUST NOT be used.
        properties:
          $ref: '#/components/schemas/ComponentProperties'
          description: A dictionary element specifying the component packages's deployment
            details.  See the [Component Properties](#componentproperties-attributes)
            section below.
      required:
      - name
      - properties
    composeApplicationDeploymentProfileComponent:
      type: object
      additionalProperties: true
      description: ''
      properties:
        name:
          type: string
          description: A unique name used to identify the component package. For helm
            installations the name will be used as the chart name. The name must be lower
            case letters and numbers and MAY contain dashes.  Uppercase letters, underscores
            and periods MUST NOT be used.
        properties:
          $ref: '#/components/schemas/ComponentProperties'
          description: A dictionary element specifying the component packages's deployment
            details.  See the [Component Properties](#componentproperties-attributes)
            section below.
      required:
      - name
      - properties
    appParameterTarget:
      type: object
      additionalProperties: true
      description: Specifies where the parameter applies in the deployment.
      properties:
        pointer:
          type: string
          description: The name of the parameter in the deployment configuration.  For
            Helm deployments, this is the dot notation for the matching element in the
            `values.yaml` file. This follows the same naming convention you would use
            with the `--set` command line argument with the `helm install` command.  For
            compose deployments, this is the name of the environment variable to set.
        components:
          type: array
          items:
            type: string
          description: Indicates which deployment profile [component](#component-attributes
            the parameter target applies to.  The component name specified here MUST match
            a component name in the [deployment profiles](#deploymentprofile-attributes)
            section.
      required:
      - pointer
      - components
    DeploymentAnnotations:
      type: object
      additionalProperties: true
      description: A class representing annotations.
      properties:
        applicationId:
          type: string
          description: An identifier for the application. The id is used to help create
            unique identifiers where required, such as namespaces. The id must be lower
            case letters and numbers and MAY contain dashes. Uppercase letters, underscores
            and periods MUST NOT be used. The id MUST NOT be more than 200 characters.
            The applicationId MUST match the associated application package Metadata "id"
            attribute.
          pattern: ^[-a-z0-9]{1,200}$
        id:
          type: string
          description: The unique identifier UUID of the deployment specification. Needs
            to be assigned by the Workload Orchestration Software.
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
      required:
      - applicationId
      - id
    appDeploymentMetadata:
      type: object
      additionalProperties: true
      description: Metadata associated with the desired state.
      properties:
        annotations:
          $ref: '#/components/schemas/DeploymentAnnotations'
          description: Defines the application ID and unique identifier associated to
            the deployment specification. Needs to be assigned by the Workload Orchestration
            Software. See the [Annotation Attributes](#annotations-attributes) section
            below.
        name:
          type: string
          description: When deploying to Kubernetes, the manifests name. The name is chosen
            by the workload orchestration vendor and is not displayed anywhere.
        namespace:
          type: string
          description: When deploying to Kubernetes, the namespace the manifest is added
            under. The namespace is chosen by the workload orchestration solution vendor.
        deviceId:
          type: string
          pattern: ^[A-Za-z0-9._~-]+(\/[A-Za-z0-9._~-]+)*(\/\*)?$
      required:
      - annotations
      - name
      - namespace
      - deviceId
    appDeploymentProfile:
      type: object
      additionalProperties: true
      description: Represents a deployment configuration for the application.
      properties:
        type:
          type: string
          description: Defines the type of this deployment configuration for the application.  The
            allowed values are `helm.v3`, to indicate the deployment profile's format
            is Helm version 3,  and `compose` to indicate the deployment profile's format
            is a Compose file.  When installing the application on a device supporting
            the Kubernetes platform, all `helm.v3` components,  and only `helm.v3` components,
            will be provided to the device in same order they are listed in the application
            description file.  When installing the application on a device supporting
            Compose, all `compose` components,  and only `compose` components, will be
            provided to the device in the same order they are listed in the application
            description file.  The device will install the components in the same order
            they are listed in the application description file.
          pattern: ^(helm\.v3|compose)$
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
          description: Component element indicating the components to deploy when installing
            the application.  See the [Component](#component-attributes) section below.
      required:
      - type
      - components
    Parameter:
      type: object
      additionalProperties: true
      description: Defines a configurable parameter for the application.
      properties:
        name:
          type: string
          description: Name of the parameter.
        value:
          description: The parameter's default value.  Accepted data types are string,
            integer, double, boolean, array[string], array[integer], array[double], array[boolean].
          anyOf:
          - type: boolean
          - type: integer
          - type: number
          - type: string
        targets:
          type: array
          items:
            $ref: '#/components/schemas/appParameterTarget'
          description: Used to indicate which component the value should be applied to
            when installing, or updating, the application.  See the [Target](#target-attributes)
            section below.
      required:
      - name
      - targets
    appDeploymentSpec:
      type: object
      additionalProperties: true
      description: Specification details of the desired state.
      properties:
        deploymentProfile:
          $ref: '#/components/schemas/appDeploymentProfile'
          description: Section that defines deployment details including type and components.
        parameters:
          type: object
          additionalProperties:
            anyOf:
            - $ref: '#/components/schemas/Parameter__identifier_optional'
            - type: array
              items:
                $ref: '#/components/schemas/appParameterTarget'
              description: Used to indicate which component the value should be applied
                to when installing, or updating, the application.  See the [Target](#target-attributes)
                section below.
          description: Describes the configured parameters applied via the end-user.
      required:
      - deploymentProfile
      - parameters
    CPU:
      type: object
      additionalProperties: true
      description: CPU element specifying the CPU requirements for the application.
      properties:
        cores:
          type: number
          description: The required amount of CPU cores the application must use to run
            in its full functionality. Specified as decimal units of CPU cores (e.g.,
            `0.5` is half a core). This is defined by the application developer. After
            deployment of the application, the device MUST provide this number of CPU
            cores for the application.
        architectures:
          type: array
          items:
            type: string
            description: Permissible CPU architecture values.
            enum:
            - amd64
            - x86_64
            - arm64
            - arm
            - riscv64
            - other
          description: The CPU architectures supported by the application. This can be
            e.g. amd64, x86_64, arm64, arm. See the [CpuArchitectureType](#cpuarchitecturetype)
            definition for all permissible values. Multiple arcitecture types can be specified,
            as the deployment profile may support multiple CPU architectures.
      required:
      - cores
    DeviceCommunicationInterface:
      type: object
      additionalProperties: true
      description: Communication interface of a device.
      properties:
        type:
          type: string
          description: Permissible communication interface types.
          enum:
          - ethernet
          - wifi
          - cellular
          - bluetooth
          - usb
          - canbus
          - rs232
          - other
      required:
      - type
    DevicePeripheral:
      type: object
      additionalProperties: true
      description: Peripheral hardware of a device.
      properties:
        type:
          type: string
          description: Permissible peripheral types.
          enum:
          - gpu
          - display
          - camera
          - microphone
          - speaker
          - other
        manufacturer:
          type: string
          description: The name of the manufacturer. If `manufacturer` is specified as
            a requirement here, it may be difficult to find devices that can host the  application.
            Please use these requirements with caution.
        model:
          type: string
          description: The model of the peripheral. If `model` is specified as a requirement
            here, it may be difficult to find devices that can host the application. Please
            use these requirements with caution.
      required:
      - type
    ApplicationMetadata:
      type: object
      additionalProperties: true
      description: Metadata about the application.
      properties:
        id:
          type: string
          description: An identifier for the application. The id is used to help create
            unique identifiers where required, such as namespaces. The id must be lower
            case letters and numbers and MAY contain dashes. Uppercase letters, underscores
            and periods MUST NOT be used. The id MUST NOT be more than 200 characters.
          pattern: ^[a-z0-9-]{1,200}$
        name:
          type: string
          description: The application's official name. This name is for display purposes
            only and can container whitespace and special characters.
        description:
          type: string
        version:
          type: string
          description: The application's version.
        catalog:
          $ref: '#/components/schemas/Catalog'
          description: Catalog element specifying the application's metadata for enabling
            its discovery. See the [Catalog](#catalog-attributes) section below.
      required:
      - id
      - name
      - version
      - catalog
    Author:
      type: object
      additionalProperties: true
      description: Information about the application's author.
      properties:
        name:
          type: string
          description: The name of the application's creator.
        email:
          type: string
          description: Email address of the application's creator.
          pattern: .*@[a-z0-9.-]*
    Catalog:
      type: object
      additionalProperties: true
      description: Catalog metadata for displaying the application.
      properties:
        application:
          $ref: '#/components/schemas/CatalogApplicationMetadata'
          description: Application element specifying the application specific metadata.
            See the [Application Metadata](#applicationmetadata-attributes) section below.
        author:
          type: array
          items:
            $ref: '#/components/schemas/Author'
          description: Author element specifying metadata about the application's author.
            See the [Author Metadata](#author-attributes) section below.
        organization:
          type: array
          items:
            $ref: '#/components/schemas/Organization'
          description: Organization element specifying metadata about the organization/company
            providing the application. See the [Organization Metadata](#organization-attributes)
            section below.
      required:
      - organization
    CatalogApplicationMetadata:
      type: object
      additionalProperties: true
      description: Metadata specific to the application.
      properties:
        descriptionFile:
          type: string
          description: Link to the file containing the application's full description.
            The file should be a markdown file.
        icon:
          type: string
          description: Link to the icon file (e.g., in PNG format).
        licenseFile:
          type: string
          description: Link to the file that details the application's license. The file
            should either be a plain text, markdown or PDF file.
        releaseNotes:
          type: string
          description: Statement about the changes for this application's release. The
            file should either be a markdown or PDF file.
        site:
          type: string
          description: Link to the application's website.
        tagline:
          type: string
          description: The application's slogan.
        tags:
          type: array
          items:
            type: string
          description: An array of strings that can be used to provide additional context
            for the application in a user interface to assist with task such as categorizing,
            searching, etc.
    Configuration:
      type: object
      additionalProperties: true
      description: Configuration layout and validation rules.
      properties:
        sections:
          type: array
          items:
            $ref: '#/components/schemas/Section'
          description: Sections are used to group related parameters together, so it is
            possible to present a user interface with a logical grouping of the parameters
            in each section. See the [Section](#section-attributes) section below.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Schema'
          description: Schema is used to provide details about how to validate each parameter
            value. At a minimum, the parameter value must be validated to match the schema's
            data type. The schema indicates additional rules the provided value must satisfy
            to be considered valid input. See the [Schema](#schema-attributes) section
            below.
      required:
      - sections
      - schema
    DeploymentProfileDescription:
      type: object
      additionalProperties: true
      description: Represents a deployment configuration for the application.
      properties:
        id:
          type: string
          description: An identifier for the deployment profile, given by the application
            developer, used to uniquely identify this deployment profile from others within
            this application description's scope.
        description:
          type: string
          description: This human-readable description of a deployment profile allows
            for providing additional context about the deployment profile. E.g., the application
            developer can use this to describe the deployment profile's purpose, such
            as the intended use case. Additionally, the application developer can use
            this to provide further details about the resources, peripherals, and interfaces
            required to run the application.
        requiredResources:
          $ref: '#/components/schemas/Resources'
          description: Required resources element specifying the resources required to
            install the application. See the [Required Resources](#requiredresources-attributes)
            section below. The consequences (e.g., aborting / blocking the installation
            or execution of the application) of not meeting these required resources are
            not defined (yet) by margo.
        type:
          type: string
          description: Defines the type of this deployment configuration for the application.  The
            allowed values are `helm.v3`, to indicate the deployment profile's format
            is Helm version 3,  and `compose` to indicate the deployment profile's format
            is a Compose file.  When installing the application on a device supporting
            the Kubernetes platform, all `helm.v3` components,  and only `helm.v3` components,
            will be provided to the device in same order they are listed in the application
            description file.  When installing the application on a device supporting
            Compose, all `compose` components,  and only `compose` components, will be
            provided to the device in the same order they are listed in the application
            description file.  The device will install the components in the same order
            they are listed in the application description file.
          pattern: ^(helm\.v3|compose)$
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
          description: Component element indicating the components to deploy when installing
            the application.  See the [Component](#component-attributes) section below.
      required:
      - id
      - type
      - components
    Organization:
      type: object
      additionalProperties: true
      description: Information about the providing organization.
      properties:
        name:
          type: string
          description: Organization responsible for the application's development and
            distribution.
        site:
          type: string
          description: Link to the organization's website.
      required:
      - name
    Resources:
      type: object
      additionalProperties: true
      description: Required resources element specifying the resources required to install
        the application.
      properties:
        cpu:
          $ref: '#/components/schemas/CPU'
          description: CPU element specifying the CPU requirements for the application.
            See the [CPU](#cpu-attributes) section below.
        memory:
          type: string
          description: The minimum amount of memory required. The value is given in binary
            units (`Ki` = Kibibytes, `Mi` = Mebibytes, `Gi` = Gibibytes). This is defined
            by the application developer. After deployment of the application, the device
            MUST provide this amount of memory for the application.
          pattern: ^[0-9]+(Mi|Gi|Ki)$
        storage:
          type: string
          description: The amount of storage required for the application to run. This
            encompasses the installed application and the data it needs to store. The
            value is given in binary units (`Ki` = Kibibytes, `Mi` = Mebibytes, `Gi` =
            Gibibytes, `Ti` Tebibytes, `Pi` = Pebibytes, `Ei` = Exbibytes). This is defined
            by the application developer. After deployment of the application, the device
            MUST provide this amount of storage for the application
          pattern: ^[0-9]+(Mi|Gi|Ki|Ti|Pi|Ei)$
        peripherals:
          type: array
          items:
            $ref: '#/components/schemas/DevicePeripheral'
          description: Peripherals element specifying the peripherals required to run
            the application. See the [Peripheral](#peripheral-attributes) section below.
        interfaces:
          type: array
          items:
            $ref: '#/components/schemas/DeviceCommunicationInterface'
          description: Interfaces element specifying the communication interfaces required
            to run the application. See the [Communication Interfaces](#communicationinterface-attributes)
            section below.
    Schema:
      type: object
      additionalProperties: true
      description: Defines data type and rules for validating user provided parameter
        values. Subclasses (see below) define for each data type their own set of validation
        rules that can be used. The value MUST be validated against all rules defined
        in the schema.
      properties:
        name:
          type: string
          description: The name of the schema rule. This used in the [setting](#setting-attributes)
            to link the setting to the schema rule.
        dataType:
          type: string
          description: Indicates the expected data type for the user provided value. Accepted
            values are string, integer, double, boolean, array[string], array[integer],
            array[double], array[boolean]. At a minimum, the provided parameter value
            MUST match the schema's data type if no other validation rules are provided.
      required:
      - name
      - dataType
    Section:
      type: object
      additionalProperties: true
      description: Named sections within the configuration layout.
      properties:
        name:
          type: string
          description: The name of the section. This may be used in the user interface
            to show the grouping of the associated parameters within the section.
        settings:
          type: array
          items:
            $ref: '#/components/schemas/Setting'
          description: Settings are used to provide instructions to the workload orchestration
            software vendor for displaying parameters to the user. A user MUST be able
            to provide values for all settings. See the [Setting](#setting-attributes)
            section below.
      required:
      - name
      - settings
    Setting:
      type: object
      additionalProperties: true
      description: Individual configuration settings.
      properties:
        parameter:
          type: string
          description: The name of the [parameter](#parameter-attributes) the setting
            is associated with.
        name:
          type: string
          description: The parameter's display name to show in the user interface.
        description:
          type: string
          description: The parameters's short description to provide additional context
            to the user in the user interface about what the parameter is for.
        immutable:
          type: boolean
          description: If true, indicates the parameter value MUST not be changed once
            it has been set and used to install the application. Default is false if not
            provided.
        schema:
          type: string
          description: The name of the schema definition to use to validate the parameter's
            value. See the [Schema](#schema-attributes) section below.
      required:
      - parameter
      - name
      - schema
    DeploymentBundleRef:
      type: object
      additionalProperties: true
      description: Describes an archive containing all referenced ApplicationDeployment
        YAMLs. If there are zero deployments (i.e., the deployments array is empty), this
        field MUST be present with the value null. An empty archive MUST NOT be served.
      properties:
        mediaType:
          type: string
          description: MUST be application/vnd.margo.bundle.v1+tar+gzip, which denotes
            a gzip-compressed tar archive (commonly delivered as a .tar.gz) whose root
            contains one or more ApplicationDeployment YAML files. Servers MUST set the
            HTTP Content-Type to this media type. The archive MUST contain exactly the
            set of YAML files referenced by deployments.
          const: application/vnd.margo.bundle.v1+tar+gzip
        digest:
          type: string
          description: Digest of the bundle archive. MUST equal the digest computed over
            the exact sequence of bytes in the bundle endpoint's HTTP 200 OK response
            body. See Protocol - Digest for further details.
          pattern: ^[a-zA-Z0-9_-]+:[0-9a-fA-F]+$
        sizeBytes:
          type: integer
          description: Optional unsigned 64-bit advisory estimate of the decoded payload
            length in bytes for the bundle archive. Provided for bandwidth estimation
            and update planning. MUST NOT be used for integrity verification.
          minimum: 0
        url:
          type: string
          format: uri
          description: Content-addressable retrieval endpoint for the bundle of the form
            /api/v1/clients/{clientId}/bundles/{digest} where {digest} equals bundle.digest.
          pattern: ^/[a-zA-Z0-9-._~:/?#\[\]@!$&'()*+,;=]+$
      required:
      - mediaType
      - digest
      - url
    DeploymentManifestRef:
      type: object
      additionalProperties: true
      description: Reference to an individual ApplicationDeployment within the desired
        state manifest.
      properties:
        deploymentId:
          type: string
          description: The UUID of the deployment. MUST equal metadata.annotations.id
            in the ApplicationDeployment.
        digest:
          type: string
          description: "Digest of the corresponding ApplicationDeployment YAML file.\n\
            \ MUST equal the digest computed over the exact sequence of bytes in the individual\
            \ deployment endpoint's HTTP 200 OK response body.\n See Protocol - Digest\
            \ for further details."
          pattern: ^[a-zA-Z0-9_-]+:[0-9a-fA-F]+$
        sizeBytes:
          type: integer
          description: Optional unsigned 64-bit advisory estimate of the decoded payload
            length in bytes for the ApplicationDeployment YAML. Provided for bandwidth
            estimation and update planning. MUST NOT be used for integrity verification.
          minimum: 0
        url:
          type: string
          format: uri
          description: Content-addressable retrieval endpoint for the ApplicationDeployment
            YAML of the form /api/v1/clients/{clientId}/deployments/{deploymentId}/{digest}
            where {digest} equals deployments[].digest.
          pattern: ^/[a-zA-Z0-9-._~:/?#\[\]@!$&'()*+,;=]+$
      required:
      - deploymentId
      - digest
      - url
    Properties:
      type: object
      additionalProperties: true
      description: Device properties reported to the WFM.
      properties:
        id:
          type: string
          description: Unique deviceID assigned to the device via the Device Owner.
        vendor:
          type: string
          description: Defines the device vendor.
        modelNumber:
          type: string
          description: Defines the model number of the device.
        serialNumber:
          type: string
          description: Defines the serial number of the device.
        roles:
          type: array
          items:
            type: string
            description: Role a device can provide to the Margo environment.
            enum:
            - Standalone Cluster
            - Standalone Device
            - Cluster Leader
            - Gateway
          description: 'Element that defines the device role it can provide to the Margo
            environment. MUST be one of the following: Standalone Cluster, Cluster Leader,
            Standalone Device, or Gateway.'
        resources:
          $ref: '#/components/schemas/Resources'
          description: Element that defines the device's resources available to the application
            deployed on the device. See the [Resources Attributes](#resources-attributes)
            section below.
      required:
      - id
      - vendor
      - modelNumber
      - serialNumber
      - roles
      - resources
    ComponentStatus:
      type: object
      additionalProperties: true
      description: Status of a component deployment.
      properties:
        name:
          type: string
        state: &id001
          type: string
          description: Permissible deployment states.
          enum:
          - pending
          - installing
          - installed
          - failed
          - removing
          - removed
        error:
          $ref: '#/components/schemas/Error'
          description: Optional error details when the state is `failed`.
      required:
      - name
      - state
    Error:
      type: object
      additionalProperties: true
      description: Error details associated with a failed deployment state.
      properties:
        code:
          type: string
        source:
          type: string
          description: Identifies the source of the error. It is set to the device id,
            with its full hierarchy if applicable, of the device generating the error,
            or to the component name of the component generating the error.
        message:
          type: string
    Status:
      type: object
      additionalProperties: true
      description: Overall deployment state and optional error details.
      properties:
        state: *id001
        error:
          $ref: '#/components/schemas/Error'
          description: Optional error details when the state is `failed`.
      required:
      - state
    FieldError:
      type: object
      additionalProperties: true
      description: A field-level validation error, as used in the `errors` member of a
        ProblemDetail.
      properties:
        field:
          type: string
          description: Field path that caused the validation error.
        message:
          type: string
          description: Human-readable validation error message.
    HelmDeploymentProfile:
      type: object
      additionalProperties: true
      description: ''
      properties:
        type:
          type: string
          description: Defines the type of this deployment configuration for the application.  The
            allowed values are `helm.v3`, to indicate the deployment profile's format
            is Helm version 3,  and `compose` to indicate the deployment profile's format
            is a Compose file.  When installing the application on a device supporting
            the Kubernetes platform, all `helm.v3` components,  and only `helm.v3` components,
            will be provided to the device in same order they are listed in the application
            description file.  When installing the application on a device supporting
            Compose, all `compose` components,  and only `compose` components, will be
            provided to the device in the same order they are listed in the application
            description file.  The device will install the components in the same order
            they are listed in the application description file.
          pattern: ^(helm\.v3|compose)$
          const: helm.v3
        components:
          type: array
          items:
            $ref: '#/components/schemas/helmApplicationDeploymentProfileComponent'
          description: Component element indicating the components to deploy when installing
            the application.  See the [Component](#component-attributes) section below.
      required:
      - type
      - components
    ComposeDeploymentProfile:
      type: object
      additionalProperties: true
      description: ''
      properties:
        type:
          type: string
          description: Defines the type of this deployment configuration for the application.  The
            allowed values are `helm.v3`, to indicate the deployment profile's format
            is Helm version 3,  and `compose` to indicate the deployment profile's format
            is a Compose file.  When installing the application on a device supporting
            the Kubernetes platform, all `helm.v3` components,  and only `helm.v3` components,
            will be provided to the device in same order they are listed in the application
            description file.  When installing the application on a device supporting
            Compose, all `compose` components,  and only `compose` components, will be
            provided to the device in the same order they are listed in the application
            description file.  The device will install the components in the same order
            they are listed in the application description file.
          pattern: ^(helm\.v3|compose)$
          const: compose
        components:
          type: array
          items:
            $ref: '#/components/schemas/composeApplicationDeploymentProfileComponent'
          description: Component element indicating the components to deploy when installing
            the application.  See the [Component](#component-attributes) section below.
      required:
      - type
      - components
    appDeploymentManifest:
      type: object
      additionalProperties: true
      description: A class representing the desired state of an entity.
      properties:
        apiVersion:
          type: string
          description: Identifier of the version of the API the object definition follows.
        kind:
          type: string
          description: Must be `ApplicationDeployment`.
          const: ApplicationDeployment
          enum:
          - ApplicationDeployment
        metadata:
          $ref: '#/components/schemas/appDeploymentMetadata'
          description: Metadata element specifying characteristics about the application
            deployment. See the [Metadata Attributes](#metadata-attributes) section below.
        spec:
          $ref: '#/components/schemas/appDeploymentSpec'
          description: Spec element that defines deployment profile and parameters associated
            with the application deployment. See the [Spec Attributes](#spec-attributes)
            section below.
      required:
      - apiVersion
      - kind
      - metadata
      - spec
    Parameter__identifier_optional:
      type: object
      additionalProperties: true
      description: Defines a configurable parameter for the application.
      properties:
        name:
          type: string
          description: Name of the parameter.
        value:
          description: The parameter's default value.  Accepted data types are string,
            integer, double, boolean, array[string], array[integer], array[double], array[boolean].
          anyOf:
          - type: boolean
          - type: integer
          - type: number
          - type: string
        targets:
          type: array
          items:
            $ref: '#/components/schemas/appParameterTarget'
          description: Used to indicate which component the value should be applied to
            when installing, or updating, the application.  See the [Target](#target-attributes)
            section below.
      required:
      - targets
    ApplicationDescription:
      type: object
      additionalProperties: true
      description: Root class for an application description.
      properties:
        apiVersion:
          type: string
          description: Identifier of the version of the API the object definition follows.
        kind:
          type: string
          description: Specifies the object type; must be `ApplicationDescription`.
          const: ApplicationDescription
          enum:
          - ApplicationDescription
        metadata:
          $ref: '#/components/schemas/ApplicationMetadata'
          description: Metadata element specifying characteristics about the application
            deployment. See the [Metadata Attributes](#metadata-attributes) section below.
        deploymentProfiles:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentProfileDescription'
          description: Deployment profiles element specifying the types of deployments
            the application supports. See the [Deployment](#deploymentprofile-attributes)
            section below.
        parameters:
          type: object
          additionalProperties:
            anyOf:
            - $ref: '#/components/schemas/Parameter__identifier_optional'
            - type: array
              items:
                $ref: '#/components/schemas/appParameterTarget'
              description: Used to indicate which component the value should be applied
                to when installing, or updating, the application.  See the [Target](#target-attributes)
                section below.
          description: Parameters element specifying the configurable parameters to use
            when installing, or updating, the application. See the [Parameter](#parameter-attributes)
            section below.
        configuration:
          $ref: '#/components/schemas/Configuration'
          description: Configuration element specifying how parameters should be displayed
            to the user for setting the value as well as the rules to use to validate
            the user's input. See the [Configuration](#configuration-attributes) section
            below.
      required:
      - apiVersion
      - kind
      - metadata
      - deploymentProfiles
    HelmDeploymentProfileDescription:
      type: object
      additionalProperties: true
      description: ''
      properties:
        id:
          type: string
          description: An identifier for the deployment profile, given by the application
            developer, used to uniquely identify this deployment profile from others within
            this application description's scope.
        description:
          type: string
          description: This human-readable description of a deployment profile allows
            for providing additional context about the deployment profile. E.g., the application
            developer can use this to describe the deployment profile's purpose, such
            as the intended use case. Additionally, the application developer can use
            this to provide further details about the resources, peripherals, and interfaces
            required to run the application.
        requiredResources:
          $ref: '#/components/schemas/Resources'
          description: Required resources element specifying the resources required to
            install the application. See the [Required Resources](#requiredresources-attributes)
            section below. The consequences (e.g., aborting / blocking the installation
            or execution of the application) of not meeting these required resources are
            not defined (yet) by margo.
        type:
          type: string
          description: Defines the type of this deployment configuration for the application.  The
            allowed values are `helm.v3`, to indicate the deployment profile's format
            is Helm version 3,  and `compose` to indicate the deployment profile's format
            is a Compose file.  When installing the application on a device supporting
            the Kubernetes platform, all `helm.v3` components,  and only `helm.v3` components,
            will be provided to the device in same order they are listed in the application
            description file.  When installing the application on a device supporting
            Compose, all `compose` components,  and only `compose` components, will be
            provided to the device in the same order they are listed in the application
            description file.  The device will install the components in the same order
            they are listed in the application description file.
          pattern: ^(helm\.v3|compose)$
          const: helm.v3
        components:
          type: array
          items:
            $ref: '#/components/schemas/helmApplicationDeploymentProfileComponent'
          description: Component element indicating the components to deploy when installing
            the application.  See the [Component](#component-attributes) section below.
      required:
      - id
      - type
      - components
    ComposeDeploymentProfileDescription:
      type: object
      additionalProperties: true
      description: ''
      properties:
        id:
          type: string
          description: An identifier for the deployment profile, given by the application
            developer, used to uniquely identify this deployment profile from others within
            this application description's scope.
        description:
          type: string
          description: This human-readable description of a deployment profile allows
            for providing additional context about the deployment profile. E.g., the application
            developer can use this to describe the deployment profile's purpose, such
            as the intended use case. Additionally, the application developer can use
            this to provide further details about the resources, peripherals, and interfaces
            required to run the application.
        requiredResources:
          $ref: '#/components/schemas/Resources'
          description: Required resources element specifying the resources required to
            install the application. See the [Required Resources](#requiredresources-attributes)
            section below. The consequences (e.g., aborting / blocking the installation
            or execution of the application) of not meeting these required resources are
            not defined (yet) by margo.
        type:
          type: string
          description: Defines the type of this deployment configuration for the application.  The
            allowed values are `helm.v3`, to indicate the deployment profile's format
            is Helm version 3,  and `compose` to indicate the deployment profile's format
            is a Compose file.  When installing the application on a device supporting
            the Kubernetes platform, all `helm.v3` components,  and only `helm.v3` components,
            will be provided to the device in same order they are listed in the application
            description file.  When installing the application on a device supporting
            Compose, all `compose` components,  and only `compose` components, will be
            provided to the device in the same order they are listed in the application
            description file.  The device will install the components in the same order
            they are listed in the application description file.
          pattern: ^(helm\.v3|compose)$
          const: compose
        components:
          type: array
          items:
            $ref: '#/components/schemas/composeApplicationDeploymentProfileComponent'
          description: Component element indicating the components to deploy when installing
            the application.  See the [Component](#component-attributes) section below.
      required:
      - id
      - type
      - components
    TextValidationSchema:
      type: object
      additionalProperties: true
      description: Extends schema to define a string/text-specific set of validation rules
        that can be used.
      properties:
        allowEmpty:
          type: boolean
          description: If true, indicates a value must be provided. Default is false if
            not provided.
        minLength:
          type: integer
          description: If set, indicates the minimum number of characters the value must
            have to be considered valid.
        maxLength:
          type: integer
          description: If set, indicates the maximum number of characters the value must
            have to be considered valid.
        regexMatch:
          type: string
          description: If set, indicates a regular expression to use to validate the value.
        name:
          type: string
          description: The name of the schema rule. This used in the [setting](#setting-attributes)
            to link the setting to the schema rule.
        dataType:
          type: string
          description: Indicates the expected data type for the user provided value. Accepted
            values are string, integer, double, boolean, array[string], array[integer],
            array[double], array[boolean]. At a minimum, the provided parameter value
            MUST match the schema's data type if no other validation rules are provided.
      required:
      - name
      - dataType
    BooleanValidationSchema:
      type: object
      additionalProperties: true
      description: Extends schema to define a boolean-specific set of validation rules
        that can be used.
      properties:
        allowEmpty:
          type: boolean
          description: If true, indicates a value must be provided. Default is false if
            not provided.
        name:
          type: string
          description: The name of the schema rule. This used in the [setting](#setting-attributes)
            to link the setting to the schema rule.
        dataType:
          type: string
          description: Indicates the expected data type for the user provided value. Accepted
            values are string, integer, double, boolean, array[string], array[integer],
            array[double], array[boolean]. At a minimum, the provided parameter value
            MUST match the schema's data type if no other validation rules are provided.
      required:
      - name
      - dataType
    NumericIntegerValidationSchema:
      type: object
      additionalProperties: true
      description: Extends schema to define a integer-specific set of validation rules
        that can be used.
      properties:
        allowEmpty:
          type: boolean
          description: If true, indicates a value must be provided. Default is false if
            not provided.
        minValue:
          type: integer
          description: If set, indicates the minimum allowed integer value the value must
            have to be considered valid.
        maxValue:
          type: integer
          description: If set, indicates the maximum allowed integer value the value must
            have to be considered valid.
        name:
          type: string
          description: The name of the schema rule. This used in the [setting](#setting-attributes)
            to link the setting to the schema rule.
        dataType:
          type: string
          description: Indicates the expected data type for the user provided value. Accepted
            values are string, integer, double, boolean, array[string], array[integer],
            array[double], array[boolean]. At a minimum, the provided parameter value
            MUST match the schema's data type if no other validation rules are provided.
      required:
      - name
      - dataType
    NumericDoubleValidationSchema:
      type: object
      additionalProperties: true
      description: Extends schema to define a double-specific set of validation rules
        that can be used.
      properties:
        allowEmpty:
          type: boolean
          description: If true, indicates a value must be provided. Default is false if
            not provided.
        minValue:
          type: number
          description: If set, indicates the minimum value to be considered valid.
        maxValue:
          type: number
          description: If set, indicates the maximum value to be considered valid.
        minPrecision:
          type: integer
          description: If set, indicates the minimum level of precision the value must
            have to be considered valid.
        maxPrecision:
          type: integer
          description: If set, indicates the maximum level of precision the value must
            have to be considered valid.
        name:
          type: string
          description: The name of the schema rule. This used in the [setting](#setting-attributes)
            to link the setting to the schema rule.
        dataType:
          type: string
          description: Indicates the expected data type for the user provided value. Accepted
            values are string, integer, double, boolean, array[string], array[integer],
            array[double], array[boolean]. At a minimum, the provided parameter value
            MUST match the schema's data type if no other validation rules are provided.
      required:
      - name
      - dataType
    SelectValidationSchema:
      type: object
      additionalProperties: true
      description: Extends schema to define a specific set of validation rules that can
        be used for select options.
      properties:
        allowEmpty:
          type: boolean
          description: If true, indicates a value must be provided. Default is false if
            not provided.
        multiselect:
          type: boolean
          description: If true, indicates multiple values can be selected. If multiple
            values can be selected the resulting value is an array of the selected values.
            The default is false if not provided.
        options:
          type: array
          items:
            type: string
          description: "This provides the list of acceptable options the user can select\
            \ from. The data type for each option must match the parameter setting\u2019\
            s data type."
        name:
          type: string
          description: The name of the schema rule. This used in the [setting](#setting-attributes)
            to link the setting to the schema rule.
        dataType:
          type: string
          description: Indicates the expected data type for the user provided value. Accepted
            values are string, integer, double, boolean, array[string], array[integer],
            array[double], array[boolean]. At a minimum, the provided parameter value
            MUST match the schema's data type if no other validation rules are provided.
      required:
      - options
      - name
      - dataType
    UnsignedAppStateManifest:
      type: object
      additionalProperties: true
      description: Manifest from the Workload Fleet Manager, representing the complete
        desired workload configuration assigned to the device.
      properties:
        manifestVersion:
          type: integer
          description: Monotonically increasing unsigned 64-bit integer in the inclusive
            range [1, 2^64-1]. Prevents rollback attacks.
          minimum: 1
          maximum: 18446744073709551615
        bundle:
          $ref: '#/components/schemas/DeploymentBundleRef'
          description: Package optimization containing multiple ApplicationDeployment
            YAMLs.
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentManifestRef'
          description: List of deployment objects describing each workload.
      required:
      - manifestVersion
      - bundle
      - deployments
    DeviceCapabilitiesManifest:
      type: object
      additionalProperties: true
      description: Capabilities of a device on which applications can be deployed.
      properties:
        apiVersion:
          type: string
          description: Identifier of the version the API resource follows.
        kind:
          type: string
          description: Must be `DeviceCapabilitiesManifest`.
          const: DeviceCapabilitiesManifest
          enum:
          - DeviceCapabilitiesManifest
        properties:
          $ref: '#/components/schemas/Properties'
          description: Element that defines characteristics about the device. See the
            [Properties Attributes](#properties-attributes) section below.
      required:
      - apiVersion
      - kind
      - properties
    DeviceResources:
      type: object
      additionalProperties: true
      description: ''
      properties:
        cpu:
          $ref: '#/components/schemas/CPU'
          description: CPU element specifying the CPU requirements for the application.
            See the [CPU](#cpu-attributes) section below.
        memory:
          type: string
          description: The minimum amount of memory required. The value is given in binary
            units (`Ki` = Kibibytes, `Mi` = Mebibytes, `Gi` = Gibibytes). This is defined
            by the application developer. After deployment of the application, the device
            MUST provide this amount of memory for the application.
          pattern: ^[0-9]+(Mi|Gi|Ki)$
        storage:
          type: string
          description: The amount of storage required for the application to run. This
            encompasses the installed application and the data it needs to store. The
            value is given in binary units (`Ki` = Kibibytes, `Mi` = Mebibytes, `Gi` =
            Gibibytes, `Ti` Tebibytes, `Pi` = Pebibytes, `Ei` = Exbibytes). This is defined
            by the application developer. After deployment of the application, the device
            MUST provide this amount of storage for the application
          pattern: ^[0-9]+(Mi|Gi|Ki|Ti|Pi|Ei)$
        peripherals:
          type: array
          items:
            $ref: '#/components/schemas/DevicePeripheral'
          description: Peripherals element specifying the peripherals required to run
            the application. See the [Peripheral](#peripheral-attributes) section below.
        interfaces:
          type: array
          items:
            $ref: '#/components/schemas/DeviceCommunicationInterface'
          description: Interfaces element specifying the communication interfaces required
            to run the application. See the [Communication Interfaces](#communicationinterface-attributes)
            section below.
      required:
      - cpu
      - memory
      - storage
      - peripherals
      - interfaces
    DeploymentStatusManifest:
      type: object
      additionalProperties: true
      description: Manifest sent by the device client to report the deployment status
        of a workload.
      properties:
        apiVersion:
          type: string
        kind:
          type: string
          const: DeploymentStatusManifest
          enum:
          - DeploymentStatusManifest
        deploymentId:
          type: string
          description: The unique identifier of the deployment whose status is being reported.
        deviceId:
          type: string
          description: Id of the device hosting the deployment. Includes the full device
            hierarchy if applicable. This attribute is required when reporting on behalf
            of a child-device.
          pattern: ^[A-Za-z0-9._~-]+(\/[A-Za-z0-9._~-]+)*(\/\*)?$
        status:
          $ref: '#/components/schemas/Status'
          description: Overall status of the deployment.
        components:
          type: array
          items:
            $ref: '#/components/schemas/ComponentStatus'
          description: Per-component status list.
      required:
      - apiVersion
      - kind
      - deploymentId
      - status
      - components
    ProblemDetail:
      type: object
      additionalProperties: true
      description: "RFC 9457 Problem Details for HTTP APIs. Returned with Content-Type:\
        \ application/problem+json. See https://www.rfc-editor.org/rfc/rfc9457. Extension\
        \ members (RFC 9457 \xA73.2) are permitted. Vendors MAY add custom fields alongside\
        \ standard margo fields. Vendor-specific problem types MUST use their own URI\
        \ namespace. The https://docs.margo.org/specification/problem-types namespace\
        \ is reserved for Margo."
      properties:
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type. Implementations MUST
            use the registered Margo type URI for any error condition defined in the Margo
            specification. For error conditions not defined in this specification, implementations
            MAY define their own type URIs under their own namespace. Clients MUST use
            this field for programmatic error handling, NOT the status code or title.
            Clients encountering an unknown type URI SHOULD fall back to title, detail,
            and status for display and handling.
        title:
          type: string
          description: Short human-readable summary of the problem type.
        status:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          description: URI reference identifying the specific occurrence of the problem.
          pattern: ^[a-zA-Z0-9-._~:/?#\[\]@!$&'()*+,;=%]+$
        retryable:
          type: boolean
          description: Whether the client MAY retry the request. If true, client SHOULD
            respect the Retry-After response header when present.
        retryAfterSeconds:
          type: integer
          description: Advisory retry delay in seconds. The authoritative value is the
            Retry-After response header when present. This field is advisory only.
        backoffStrategy:
          type: string
          description: Recommended backoff strategy for retrying.
          enum:
          - none
          - fixed
          - exponential
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'
          description: Optional list of field-level validation errors. SHOULD be present
            on 422 Unprocessable Entity responses.
      required:
      - type
      - title
      - status
    DeviceId_with_asterisk:
      type: string
      pattern: ^[A-Za-z0-9._~-]+(\/[A-Za-z0-9._~-]+)*(\/\*)?$
    DeviceId:
      type: string
      pattern: ^[A-Za-z0-9._~-]+(\/[A-Za-z0-9._~-]+)*$
      description: 'Unique identifier of a device or device hierarchy. Format: "{id}[/{id}[/{id}...]]".
        The top-level id is required and must include only unreserved characters as specified
        in RFC3986. Subsequent ids indicate child devices in a gateway hierarchy and must
        also use only unreserved characters.'
