# Desired State

> Action: This is incomplete and doesn't contain the details for the deploymentProfile or parameters

> Action: We are currently investigating the best way to interface with source control infrastructure.

{% if schema.description %}{{ schema.description }}{% endif %}

### ApplicationDeployment Definition

```yaml
apiVersion: application.margo.org/v1alpha1
kind: ApplicationDeployment
metadata:
  annotations:
    id: 
    applicationId: 
  name: 
  namespace: 
spec:
    deploymentProfile:
        type: 
        components:
            - name: 
              properties:
    parameters:
        param:
            value: 
            targets:
                - pointer: 
                  components:[]
```

{% macro abort(error) %}
    {{ None['[ERROR] ' ~ error][0] }}
{% endmacro %}

{%- macro format_range(slot) -%}
    {%- if slot.multivalued and slot.inlined -%}
        {%- if slot.inlined_as_list -%}
            {{ abort("List not supported yet") }}
        {%- else -%}
            {%- if slot.name == "properties" -%}
                map[string][string]
            {%- else -%}
                map[string][{{ slot.range }}]
            {%- endif -%}
        {%- endif -%}
    {%- else -%}
        {{ slot.range }}
    {%- endif -%}
{%- endmacro -%}

| Attribute | Type | Required? | Description |
| --- | --- | --- | --- |
{% for slot in schemaview.class_slots("DesiredState")|sort(attribute='rank') -%}
| {{ slot }} | {{ schemaview.get_slot(slot).range }} | {% if schemaview.get_slot(slot).required == True %} Y {% else %} N {% endif %} | {{ schemaview.get_slot(slot).description }}|
{% endfor -%}

{% for c in gen.all_class_objects()|sort(attribute='rank') %}
{%- if c.name != "DesiredState" and not c.name.startswith("Helm") and not c.name.startswith("DockerCompose") and not c.name == "Property" %}
#### {{ c.name }} Attributes

| Attribute | Type | Required? | Description |
| --- | --- | --- | --- |
{% for slot in gen.get_direct_slots(c)|sort(attribute='rank') -%}
| {{ slot.name }} | {{ format_range(slot) }} | {% if slot.required == True %} Y {% else %} N {% endif %} | {{ slot.description }}|
{% endfor %}
{%- endif %}
{%- endfor %}

### Example: Cluster Enabled Application Deployment Specification

```yaml
{% include 'examples/valid/DesiredState-001.yaml' %}
```

### Example: Standalone Device Application Deployment Specification:

```yaml
{% include 'examples/valid/DesiredState-002.yaml' %}
```

