# Application Description

The purpose of the Application Description is to enable an application's discovery, configuration, and deployment on edge devices.
To deploy an application the end user specifies values for the [parameters](#defining-configurable-application-parameters) given in 
an Application Description (e.g., through a UI of the WFM) to instantiate an `ApplicationDeployment`, 
which defines the [desired state](../margo-management-interface/desired-state.md) for an application.

### Top-level Attributes

{% macro abort(error) %}
    {{ None['[ERROR] ' ~ error][0] }}
{% endmacro %}

{%- macro format_range(slot) -%}
    {%- if slot.multivalued -%}
        {%- if slot.inlined -%}
            {%- if slot.inlined_as_list -%}
                []{{ slot.range }}
            {%- else -%}
                {%- if slot.name == "properties" -%}
                    map[string][string]
                {%- else -%}
                    map[string][{{ slot.range }}]
                {%- endif -%}
            {%- endif -%}
        {%- else -%}
            []string
        {%- endif -%}
    {%- else -%}
        {{ slot.range }}
    {%- endif -%}
{%- endmacro -%}

| Attribute | Type | Required? | Description |
| --- | --- | --- | --- |
{% for slot in schemaview.class_slots("ApplicationDescription")|sort(attribute='rank') -%}
| {{ slot }} | {{ format_range(schemaview.get_slot(slot)) }} | {% if schemaview.get_slot(slot).required == True %} Y {% else %} N {% endif %} | {{ schemaview.get_slot(slot).description }}|
{% endfor -%}

{% for c in gen.all_class_objects()|sort(attribute='rank') %}
{%- if c.name != "ApplicationDescription" and not c.name.startswith("ComponentProperties") and not c.name.startswith("Helm") and not c.name.startswith("Compose") %}

{# if c is a subclass of any: #}

{%- if c.is_a -%} 
* #### {{ c.name }} Attributes  <br>
(Subclass of {{ c.is_a }})  <br>
{%- else -%}
### {{ c.name }} Attributes  <br>
{%- endif %} 

{%- if c.description -%} 
<br>
{{ c.description }} <br>
{%- endif %} 

| Attribute | Type | Required? | Description |
| --- | --- | --- | --- |
{%- for slot in gen.get_direct_slots(c)|sort(attribute='rank') %}
{%- if c.name == "Parameter" and slot.name == "name" %}
{%- elif slot.name != "value" %}
| {{ slot.name }} | {{ format_range(slot) }} | {% if slot.required == True %} Y {% else %} N {% endif %} | {{ slot.description }}|
{%- else %}
| {{ slot.name }} | <*see description*> | {% if slot.required == True %} Y {% else %} N {% endif %} | {{ slot.description }}|
{%- endif %}
{%- endfor %}

{%- endif %}


{%- if c.name.startswith("DeploymentProfile") %}

#### Helm Exceptions

Applications can be deployed as Helm charts using either Helm [version 3](https://helm.sh/docs/v3/topics/charts) or [version 4](https://helm.sh/docs/topics/charts) using Chart APIVersion v2 only.

In order to facility the require deployment options for Helm charts, Margo does not support Helm functions requiring direct communication with the Kubernetes API.

Your Helm based application MUST NOT rely on the following Helm functions:
- [Lookup](https://helm.sh/docs/chart_template_guide/functions_and_pipelines#using-the-lookup-function): The `lookup` template function queries live resources in the target Kubernetes cluster at render time, for example to fetch ConfigMaps, Secrets, or other objects. This requires direct API access and cluster credentials during rendering.
- [Hooks](https://helm.sh/docs/topics/charts_hooks/): Hooks (pre/post install, upgrade, delete, rollback, test, etc.) execute additional Kubernetes resources or jobs at specific points in the release lifecycle. Helm waits for these resources to reach a ready state by monitoring them via the Kubernetes API, and the hooks themselves may perform privileged or arbitrary operations in the cluster.
- [CRD management via helm](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/): Installing or managing Custom Resource Definitions (CRDs) with Helm requires checking for the presence of CRDs and registering new APIs with the cluster, which involves API calls and may require elevated permissions.

**Note:** This function list is based on the current Helm v3 and v4 implementations. Additional functions may be added later if Helm introduced new functions requiring communication with the Kuberentes API to work.

{%- endif %}

{%- if c.name.startswith("ComponentProperties") %}

### ComponentProperties Attributes
The expected properties for the suppported deployment types are indicated below.

- Properties for `helm` components

| Attribute      | Type  | Required?     | Description    |
| --- | --- | --- | --- |
| repository     | string |  Y  | The URL indicating the helm chart's location.|
| revision      | string |  Y  | The helm chart's full version.|
| wait | bool  | N  | If `True`, indicates the device MUST wait until the helm chart has finished installing before installing the next helm chart. The default is `True`. The Workload Fleet Management Client MUST support `True` and MAY support `False`. Only applies if multiple `helm` components are provided.|
| timeout | string      | N   | The time to wait for the component's installation to complete. If the installation does not completed before the timeout occurs the installation process fails. The format is "##m##s" indicating the total number of minutes and seconds to wait. |  

- Properties for `compose` components

> **Investigation Needed**: We need to have more discussion about how Compose should be handled and what is required here.

| Attribute      | Type  | Required?     | Description    |
| --- | --- | --- | --- |
| packageLocation  | string |  Y  | The URL indicating the Compose package's location. It should be a direct path to the compose.yaml or compose file archived in tar.gz |
| keyLocation    | string | N  | The public key used to validated the digitally signed package. It is highly recommend to digitally sign the package. When signing the package PGP MUST be used.|
| wait | bool  | N  | If `True`, indicates the device MUST wait until the Compose file has finished starting up before starting the next Compose file. The default is `True`. The Workload Fleet Management Client MUST support `True` and MAY support `False`. Only applies if multiple `compose` components are provided.|
| timeout | string      | N   | The time to wait for the component's installation to complete. If the installation does not completed before the timeout occurs the installation process fails. The format is "##m##s" indicating the total number of minutes and seconds to wait.|

## Defining configurable application parameters

To allow customizable configuration values when installing an application, the *application description*  defines the parameters and configuration sections giving the application vendor control over what can be configured when installing, or updating, an application. The [configuration](#configuration-attributes) section describes how the workload orchestration software vendor must display parameters to the user to allow them to specify the values. The [schema](#schema-attributes) section describes how the workload orchestration software vendor must validate the values provided by the user before the application is installed or updated.

> **Note:** At this point the specification only deals with parameter values provided by the user as part of installing, or updating, the application. We anticipate parameter values to come from other sources, such as the device, in the future and not only from the user.

{%- endif %}
{%- endfor %}


## Enumerations
These enumerations are used as vocabularies for attribute values of the `ApplicationDescription`.

### CpuArchitectureType

| Permissible Values | Description |
| --- | --- |
| amd64 | AMD 64-bit architecture.|
| arm64 | ARM 64-bit architecture.|
| arm | ARM 32-bit architecture. |  

### CommunicationInterfaceType

| Permissible Values | Description |
| --- | --- |
| ethernet | This type stands for an Ethernet interface.|
| wifi | This type stands for an WiFi interface.|
| cellular | This type stands for cellular communication technologies such as 5G, LTE, 3G, 2G, ....|
| bluetooth | This type stands for a Bluetooth or Bluetooth Low-Energy (BLE) interface. |  
| usb | This type stands for a USB interface.|
| canbus | This type stands for a CANBus interface.|
| rs232 | This type stands for a RS232 interface. |  

### PeripheralType

| Permissible Values | Description |
| --- | --- |
| gpu | This type stands for a Graphics Processing Unit (GPU) peripheral.|
| display | This type stands for a display peripheral.|
| camera | This type stands for a camera peripheral.|
| microphone | This type stands for a microphone peripheral. |
| speaker | This type stands for a speaker peripheral. |



## Application Description Examples

### Example 1: Simple Application Description
A simple hello-world example of an `ApplicationDescription` is shown below:

```yaml
{% include 'examples/valid/ApplicationDescription-001.yaml' %}
```

### Example 2: Application Description with Deployment Profiles for Helm and Compose
An example of an `ApplicationDescription` defining [deployment profiles](#deploymentprofile-attributes) for both cases, Helm chart as well as Compose, is shown below.

```yaml
{% include 'examples/valid/ApplicationDescription-002.yaml' %}
```